DISCORD_TOKEN=your_discord_bot_token_here
ADMIN_ROLE_ID=1522608315920678932
ADMIN_USER_IDS=1461922708672745582

# Optional - Pterodactyl Panel + Wings
PTERO_URL=https://panel.stonenodes.xyz/
PTERO_API_KEY=ptla_xxxxxxxxxxxxxxxxxxxxxxxx
